
.Exhibit {
    float: left;
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    color: #002933;
    background-color: var(--Dark-Yellow);
    border-radius: 2vw;
}

.ExhibitHeading {
    font-weight: bold;
    color: var(--Deep-blue);
    font-size: 1.75rem;
}

.ExhibitContent {
    margin: 0.5vw;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: var(--White);
    background-color: var(--Orange-red);
    border-radius: 2vw;
}